<table>
    <tr><td>名前</td><td>住所</td><td>画像ページ</td></tr>
    <% @observatories.each do |observatory| %>
    <tr>
        <td><%= observatory.name %></td>
        <td><%= observatory.location %></td>
        <td><%= link_to "#{observatory.url}", observatory.url %></td>
    </tr>
    
<% end %>
</table>


<div>
    <h2>新規登録</h2>
    <%= form_for :admin, :url => admin_create_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :location %>
        <%= f.text_field :location %>
        <%= f.label :url %>
        <%= f.text_field :url %>
        <%= f.submit '送信' %>
    <% end %>
</div>
